body{
    background-image: url('shopping.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 10px; 
    background-size: 100% 100%;
}
.linkpage{
    position: absolute;
    margin-left: 85%;
    margin-top: 20px; 
    color: white;
    cursor: pointer;
}

.linkpage a{
    color: aliceblue;
    font-size: xx-large;
}

header{
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0;
    font-family:cursive;  
    text-align:center; 
    background-color:rgba(14, 13, 13, 0.795); 
    color:rgb(248, 26, 26); 
    border-style:none;
    }
img{
    float: left;
    max-width: 6.5%;
    display: block;
    margin-top: -88px;
}

form{
    position: fixed;
    padding-left:10%; 
    margin-top: 70px;
    color:rgb(19, 18, 20);
    font-size:x-large;
    font-style:oblique;
    background-position: center;
}
input[type=text],input[type=password],input[type=email],input[type=date],input[type=number]{
    width: 100%;
    padding: 3px;
    margin: 1px 0px;
    border: 2px solid rgb(15, 15, 15);
}

input[type=submit] {
    background-color: #0fd808;
    color: rgb(22, 21, 21);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #db0b0b;
  } 

footer{
    position:fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    font-family:cursive;  
    text-align:center;
    background-color:rgba(14, 13, 13, 0.795); 
    color:rgb(248, 26, 26); 
    border-style:none; 
   }